<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
  />
  <link rel="stylesheet" href="/admin/css/style.css" />
    <title>Admin Dashboard</title>
</head>
<body>
       <%- include('../../partials/admin/header.ejs') %>
       <section  id="mid">
       <div class="container">
        <div class="row">
            <%- include('../../partials/admin/left.ejs') %>
            <div class="col-md-9">
                <h2>Query management</h2>
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>S.No.</th>
                            <th>Customer's Email</th>
                            <th>Customer's Query</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%record.forEach((result,key)=>{%>
                            <tr>
                                <td><%=key+1%></td>
                                <td><%=result.email%></td>
                                <td><%=result.query%></td>
                                <%if(result.status == 'unread'){%>
                                    <td><button class="btn btn-danger"><%=result.status%></button></td>
                                <%}else{%>
                                    <td><button class="btn btn-success"><%=result.status%></button></td>

                               <% }%>
                                <td><a href="/admin/queryreply/<%=result.id%>"><button class="btn btn-primary">Reply</button></a></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
       </div>           
       </section>
      <%- include('../../partials/admin/footer.ejs')  %>
</body>
</html>